include README.md
include LICENSE
include CHANGELOG.md
recursive-include src/django_expenses/templates *
recursive-include src/django_expenses/static *
recursive-include src/django_expenses/migrations *
